@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

:root {
  font-family: "Nunito", sans-serif;
}

html,
body {
  background-color: #f3f4f6;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

@theme {
  --color-primary: #d72638;
  --color-primary-hover: #b71c2a;
  --color-header: #1f2937;
  --color-body: #4B5563;
  --color-border: #D1D5DB;
  --color-input-hover: #E5E7EB;
  --color-input-focus-shadow: 0 0 0 3px rgba(215, 38, 56, 0.3);
}
