@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

:root {
  font-family: "Nunito", sans-serif;
}

html,
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: var(--color-primary);
}

@theme {
  --color-primary: #2A3D52;
  --color-secondary: #3056A1;

  --color-input-border: #D0D5DD;
  --color-input-hover: #B0C5E0;
  --color-input-focus: #3056A1;
  --color-input-error: #D64545;

  --color-button-primary: #3056A1;
  --color-button-hover: #254687;
}
